<div class="container my-5 my-md-0">
  <div class="row">
    <div class="offset-md-1 col-md-11">

      <h3 class="pt-5 ml-5 font-weight-bold">ニュース一覧</h3>

      <div class="content-box mt-4">
        <!--1つの行に2記事を表示する-->
        <div class="row mx-auto w-100">
          <!--１記事-->
          <% @posts.each do |post| %>
            <div class="col-md-6">
              <%= link_to post_path(post.id) do %>
                <div class="index-news border my-3">
                  <div class="index-news-image my-1 my-md-3 ml-1 ml-md-3">
                    <%= image_tag post.get_image(280, 190), class: "img-fluid", style: "border-radius: 10px;" %>
                  </div>
                  <div class="my-2 mx-3 border text-center text-dark" style="width: 45%; font-size: 14px">
                    <%= post.genre.name %>
                  </div>
                  <div class="ml-3 mr-2 font-weight-bold text-dark">
                    <%= truncate(post.title, length: 48, omission: '...') %>
                  </div>
                  <div class="m-3 text-dark" style="font-size: 12px; position: absolute; bottom: 3%;">
                    <i class="far fa-clock"></i>
                    <%= post.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

      </div>

      <!--ページネーションの設定-->
      <div class="row">
        <div class="mt-4 mx-auto">
          <%= paginate @posts, theme: 'bootstrap-5' %>
        </div>
      </div>

    </div>
  </div>
</div>