<div class="container">

  <!--今日の中国語-->
  <div class="row">
    <div class="offset-1 col-11">
      <%= link_to today_words_path do %>
        <div class="mt-4 mx-auto p-4" style="background-color: orange; width: 90%; height: 300px;"></div>
      <% end %>
    </div>
  </div>

  <!--ニュース表示枠-->
  <div class="row">

    <div class="offset-1 col-8">
      <div class="top-box mt-4 mx-auto pl-3", style="height: 96%">
        <!--1つの行に2記事を表示する-->
        <div class="row mx-auto w-100">
          <% @posts.each do |post| %>
            <!--１記事-->
            <div class="col-6">
              <%= link_to post_path(post.id) do %>
                <div class="news border my-3">
                  <div class="news-image mt-2 mx-auto">
                    <%= image_tag post.get_image(200, 136), style: "border-radius: 10px;" %>
                  </div>
                  <div class="m-2 border text-center text-dark" style="width: 45%; font-size: 14px">
                    <%= post.genre.name %>
                  </div>
                  <div class="news-caption ml-3">
                    <%= post.title %>
                  </div>
                  <div class="m-3 text-dark" style="font-size: 12px">
                    <i class="far fa-clock"></i>
                    <%= post.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
                  </div>
                </div>
              <% end %>
            </div>

          <% end %>
        </div>

      </div>
    </div>

    <!--ニュースのジャンル表示サイドバー-->
    <div class="col-3">
      <div class="top-box mt-4 mx-auto", style="height: 96%">
        <table class="table table-borderless">
          <thead>
            <th>ジャンル一覧</th>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
              <tr><td>
                <%= link_to posts_path do %>
                  <%= link_to genre.name, posts_path(genre_id: genre.id) %>
                <% end %>
              </td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <!--新着質問板-->
  <div class="row">
    <div class="offset-1 col-11">
      <div class="top-box mt-4 mx-auto">

        <div class="row mt-3">
          <span class="col-3 h3 ml-5 font-weight-bold">新着質問板</span>
          <!--検索欄-->
          <div class="offset-2 col-6 input-group">
            <input class="form-control" placeholder="質問を検索">
            <button class="btn btn-outline-success", style="height: 92%;"><i class="fas fa-search"></i> 検索</button>
          </div>
        </div>

        <!--1質問-->
        <% @questions.each do |question| %>
          <div class="question mt-3 border mx-auto">
            <div class="question-title m-3">
              <%= link_to question.title, question_path(question) %>
            </div>
            <hr>
          </div>
        <% end %>

      </div>
    </div>
  </div>


</div>