<div class="container my-4 my-md-0">

  <!--今日の中国語-->
  <div class="row">
    <div class="col-12 offset-md-1 col-md-11 delete-underline">
      <% if @latest_today_word.present? %>
        <%= link_to today_word_path(@latest_today_word) do %>
          <div class="mt-5 p-5 p-md-4 mx-auto text-center" style="background-image: url(<%= asset_path 'kyochu1.jpg' %>); background-size: cover; width: 100%; height: 360px;">
            <h5 class="mt-1 text-dark">この中国語の意味はなんでしょう？</h5>
            <h1 class="mt-5 pt-4 pt-md-5 text-light" style="font-size: 84px;"><%= @latest_today_word.chinese %></h1>
          </div>
        <% end %>
      <% else %>
        <!--有効な単語が存在しない際に表示する画像-->
        <div class="mt-5 p-5 p-md-4 mx-auto" style="background-color: blue; width: 100%; height: 300px;"></div>
      <% end %>
    </div>
  </div>

  <!--ニュース表示枠-->
  <div class="row">

    <div class="col-12 col-md-8 offset-md-1">
      <div class="content-box mt-4 mt-md-4 mx-auto pl-md-3">

        <div class="row mt-md-3">
          <span class="col-12 col-md-6 h3 ml-4 ml-md-5 font-weight-bold">新着ニュース</span>
        </div>

        <!--1つの行に2記事を表示する-->
        <div class="row mx-auto w-100">
          <!--１記事-->
          <% @posts.each do |post| %>
            <div class="col-md-6">
              <%= link_to post_path(post.id) do %>
                <div class="news border my-2 my-md-3">
                  <div class="news-image mt-4 mt-md-2 mx-auto">
                    <%= image_tag post.get_image(200, 136), style: "border-radius: 10px;" %>
                  </div>
                  <div class="mt-4 mt-md-2 mb-1 mb-md-2 mx-3 mx-md-3 border text-center text-dark" style="width: 45%; font-size: 14px">
                    <%= post.genre.name %>
                  </div>
                  <div class="news-caption ml-4 ml-md-3 mr-2 mr-md-1">
                    <%= truncate(post.title, length: 22, omission: '...') %>
                  </div>
                  <div class="ml-4 ml-md-3 mb-2 mb-md-3 text-dark" style="font-size: 12px; position: absolute; bottom: 3%;">
                    <i class="far fa-clock"></i>
                    <%= post.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <!--ニュースのジャンル表示サイドバー-->
    <div class="col-md-3 d-none d-md-block">
      <div class="content-box mt-md-4 mx-auto", style="height: 93vh">
        <table class="table table-borderless">
          <thead>
            <th>ジャンル一覧</th>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
              <tr><td>
                <%= link_to posts_path do %>
                  <%= link_to genre.name, posts_path(genre_id: genre.id) %>
                <% end %>
              </td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <!--新着質問板-->
  <div class="row">
    <div class="col-12 offset-md-1 col-md-11">
      <div class="content-box mt-4 mt-md-4 mx-auto">

        <div class="row mt-md-3">
          <span class="col-12 col-md-3 h3 ml-4 ml-md-5 font-weight-bold">新着質問板</span>
        </div>

        <%= render 'public/questions/one_question', questions: @questions %>

        <p class="border border-dark text-center ml-4 ml-md-5 mt-3 mt-md-4 pt-3 pt-md-3" style="font-size: 30px; height: 75px; width: 85%">
          <%= link_to "質問板TOPへ", questions_path, class: "text-dark" %>
        </p>

      </div>
    </div>
  </div>

  <!--未ログイン時に注釈を表示-->
  <div class="text-right mb-5 mb-md-4">
    <% if !user_signed_in? %>
      <p class="mt-2 mt-md-2" style="font-size: 14px;">※投稿・回答機能のご利用にはログインが必要です。</p>
    <% end %>
  </div>

</div>