<!--1質問-->
<% questions.each do |question| %>
  <div class="question my-3 my-md-3 border mx-auto" id="question_<%= question.id %>">
    <div class="question-title m-3 m-md-3">
      <%= link_to truncate(question.title, length: 34, omission: '...'), question_path(question) %>
    </div>
    <hr>
    <!--回答者情報-->
    <div class="row m-1 m-md-3">
      <div class="col-md-8">
        <!-- 一意に回答者のプロフィール画像を3つまで取り出し、質問投稿者自身は除く -->
        <% unique_users = question.answers.map(&:user).uniq.reject { |user| user == question.user } %>
        <% unique_users.first(3).each do |user| %>
          <%= image_tag user.get_profile_image(35, 35), class: "img-fluid rounded-circle" %>
        <% end %>
        <b class="ml-md-1"><%= unique_users.count %>人が回答済み</b>
      </div>
      <!--ブックマーク・閲覧数-->
      <div class="col-md-4 pl-3 pl-md-5 mt-3 mt-md-2 mb-2 mb-md-0">
        <span class="bookmark-btn"><%= render 'public/bookmarks/bookmark_btn', question: question %></span>
        <i class="fas fa-eye ml-2 ml-md-4 pt-md-1"  style="font-size: 20px;"></i>
        <span class="ml-1 ml-md-1" style="font-size: 16px;"><%= question.views_count %></span>
      </div>
    </div>
  </div>
<% end %>