<div class="container my-5 my-lg-0 pt-5 pt-lg-0">
  <div class="row">
    <div class="offset-lg-1 col-lg-11">

      <div class="row pt-lg-5 pl-lg-5 mt-3 mt-md-5 mt-lg-0">
        <div class="col-lg-3 d-none d-lg-block h3 font-weight-bold">質問板</div>
        <!--検索欄-->
        <div class="col-8 col-lg-6">
          <%= search_form_for @q, url: search_questions_path, html: { class: "input-group" } do |f| %>
            <%= f.search_field :title_cont, class: "form-control", placeholder: "質問を検索" %>
            <%= f.submit "検索", class: "btn btn-outline-success" %>
          <% end %>
        </div>
        <!--質問するボタン-->
        <div class="col-4 col-lg-3">
          <%= link_to "質問する", new_question_path, class: "btn btn-primary" %>
        </div>
      </div>

      <!--ソートタブ-->
      <% new_tab_active = 'active' if @order == Public::QuestionsController::ORDER_BY_NEW %>
      <% popular_tab_active = 'active' if @order == Public::QuestionsController::ORDER_BY_POPULAR %>

      <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
          <%= link_to "新着順", questions_path, class: "nav-link text-color #{new_tab_active}" %>
        </li>
        <li class="nav-item">
          <%= link_to "人気順", questions_path(order: Public::QuestionsController::ORDER_BY_POPULAR), class: "nav-link text-color #{popular_tab_active}" %>
        </li>
      </ul>

      <div class="content-box">
        <%= render 'one_question', questions: @questions %>
      </div>

      <!--ページネーションの設定-->
      <div class="row">
        <div class="mt-4 mx-auto">
          <%= paginate @questions, theme: 'bootstrap-5' %>
        </div>
      </div>

    </div>
  </div>
</div>