<div class="container responsive-content-box my-5 my-lg-0">
  <div class="row">
    <div class="offset-lg-1 col-lg-11">

      <% if @search_word.blank? || @questions.empty? %>

        <div class="content-box py-5 text-center", style="margin-top: 100px;">
          <h5 class="m-3 responsive-text-lg">お探しの質問はまだ投稿されていないようです。</h5>
          <%= link_to "質問する", new_question_path, class: "btn btn-primary mt-4" %>
        </div>

        <% @questions = Question.all.order(id: "DESC").limit(5) %>

        <div class="content-box my-5">
          <h5 class="my-2 mx-3 responsive-text-lg">その他の人は、こんな質問をしています</h5>
          <%= render 'one_question', questions: @questions %>
        </div>

      <% else %>

        <div class="row pt-5 pl-2 pl-lg-5">
          <div class="col-lg-8 h3 font-weight-bold">検索結果「<%= @search_word %>」</div>
          <div class="col-lg-4 pt-lg-3">
            検索結果：<%= @questions.count %>件
          </div>
        </div>

        <div class="content-box mt-4">
          <%= render 'one_question', questions: @questions %>
        </div>

        <!--ページネーションの設定-->
        <div class="row">
          <div class="mt-4 mx-auto">
            <%= paginate @questions, theme: 'bootstrap-5' %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>