<div class="container">
  <div class="row">
    <div class="offset-1 col-11">

      <% if @search_word.blank? || !@questions.present? %>

        <div class="content-box py-5 text-center", style="margin-top: 200px;">
          <h5>お探しの質問はまだ投稿されていないようです。</h5>
          <%= link_to "質問する", new_question_path, class: "btn btn-primary mt-4" %>
        </div>

      <% else %>

        <div class="row pt-5 pl-5">
          <div class="col-12 h3 font-weight-bold">検索結果「<%= @search_word %>」</div>
        </div>

        <div class="content-box mt-4">
          <% if @questions.blank? %>
            <div class="text-center my-4">
              <h5>検索結果が見つかりません</h5>
            </div>
          <% else %>
            <!--1質問-->
            <% @questions.each do |question| %>
              <div class="question mt-3 border mx-auto">
                <div class="question-title m-3">
                  <%= link_to truncate(question.title, length: 34, omission: '...'), question_path(question) %>
                </div>
                <hr>
                <!--回答者情報-->
                <div class="row m-3">
                  <div class="col-8">
                    <!-- 一意に回答者のプロフィール画像を3つまで取り出す -->
                    <% unique_users = question.answers.map(&:user).uniq %>
                    <% unique_users.first(3).each do |user| %>
                      <%= image_tag user.get_profile_image(35, 35), class: "rounded-circle" %>
                    <% end %>
                    <b class="ml-1"><%= unique_users.count %>人が回答済み</b>
                  </div>
                  <!--ブックマーク・閲覧数-->
                  <div class="col-4 pl-5 mt-2">
                    <!--ブックマークボタン-->
                    <% if current_user %>
                      <% if question.bookmarked_by?(current_user) %>
                        <%= link_to question_bookmark_path(question, question_id: question.id), method: :delete do %>
                          <i class="fa-solid fa-bookmark" style="font-size: 20px; color: gray;"></i>
                        <% end %>
                      <% else %>
                        <%= link_to question_bookmarks_path(question, question_id: question.id), method: :post do %>
                          <i class="far fa-bookmark" style="font-size: 20px; color: gray;"></i>
                        <% end %>
                      <% end %>
                    <% else %>
                      <!--ユーザーが未ログインの場合はログインページに遷移する-->
                      <%= link_to new_user_session_path do %>
                        <i class="far fa-bookmark" style="font-size: 20px; color: gray;"></i>
                      <% end %>
                    <% end %>
                    <span class="ml-1" style="font-size: 16px;"><%= question.bookmarks.count %></span>
                    <i class="fas fa-eye ml-4 pt-1"  style="font-size: 20px;"></i>
                    <span class="ml-1" style="font-size: 16px;"><%= question.views_count %></span>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <!--ページネーションの設定-->
        <div class="row">
          <div class="mt-4 mx-auto">
            <%= paginate @questions, theme: 'bootstrap-5' %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>