<div class="container my-5">
  <div class="row">
    <div class="offset-1 col-11">

      <div class="row">
        <div class="col-8">
           <h5 class="h4 ml-5 pt-4 font-weight-bold">ジャンル管理</h5>
        </div>

        <!--ジャンル新規登録欄（ポップアップ表示）-->
        <%= render 'genre_popup', genre: @genre %>

        <!--ジャンル作成ボタン-->
        <div class="col-4 mt-3">
          <div class="py-2 px-3 ml-4 btn btn-primary" id="new-genre-button">
             <i class="fa-solid fa-tags fa-lg"></i> ジャンル作成
          </div>
        </div>
      </div>

      <div class="admin-box mx-auto px-4">
        <!--各列カラム名-->
        <table class="table table-colored mt-3">
          <thead>
            <tr>
              <th>ジャンルID</th>
              <th>ジャンル名（最大6文字）</th>
              <th>記事の投稿数</th>
              <th></th>
            </tr>
          </thead>

          <!--ジャンル一覧-->
          <% @genres.each do |genre| %>
            <tbody>
              <tr>
                <td class="align-middle"><%= genre.id %></td>
                <%= form_with model: [:admin, genre], url: admin_genre_path(genre) do |f| %>
                  <td class="align-middle">
                    <span class="genre-name"><%= genre.name %></span>
                    <%= f.text_field :name, placeholder: "ジャンル名（最大6文字）", class: "genre-edit-input", style: "display: none;" %>
                  </td>
                  <td class="align-middle"><%= genre.posts.count %></td>
                  <td>
                    <div class="py-2 px-3 btn btn-success btn-sm edit-button">編集</div>
                    <%= f.submit "保存", class: "py-2 px-3 btn btn-primary btn-sm save-button", style: "display: none;" %>
                  </td>
                <% end %>
              </tr>
            </tbody>
          <% end %>

        </table>
      </div>

    </div>
  </div>
</div>

<!--「新しくジャンルを作成する」の選択時にポップアップを表示-->
<script>
  $(document).ready(function() {
    var newGenreButton = $("#new-genre-button");
    var newGenreForm = $("#new-genre-form");

    newGenreButton.on("click", function() {
      event.stopPropagation();
      slideDown(newGenreForm);
    });

    function slideDown(element) {
      element.slideDown(300);
      $(document).on("click", outsideClick);
    }

    function outsideClick(event) {
      if (!$(event.target).closest(newGenreForm).length) {
        slideUp(newGenreForm);
      }
    }

    function slideUp(element) {
      element.slideUp(300);
      $(document).off("click", outsideClick);
    }
  });
</script>

<!--編集ボタン押下後、フォームが出現し保存ボタンに切り替わる-->
<script>
  $(document).ready(function() {
    $(".edit-button").click(function() {
      var row = $(this).closest("tr");
      var nameCell = row.find(".genre-name");
      var editInput = row.find(".genre-edit-input");
      var saveButton = row.find(".save-button");

      nameCell.hide();
      editInput.show().focus();
      $(this).hide();
      saveButton.show();
    });

    $(".save-button").click(function() {
      var row = $(this).closest("tr");
      var nameCell = row.find(".genre-name");
      var editInput = row.find(".genre-edit-input");
      var editButton = row.find(".edit-button");

      nameCell.text(editInput.val()).show();
      editInput.hide();
      $(this).hide();
      editButton.show();
    });
  });
</script>