<div class="container my-5">
  <div class="row">
    <div class="offset-1 col-11">

      <!--エラーメッセージ-->
      <%= render 'layouts/errors', obj: @post %>

      <h5 class="h4 ml-5 pt-4 font-weight-bold">ニュース編集</h5>

      <!--ジャンル新規登録欄（ポップアップ表示）-->
      <%= render 'admin/genres/genre_popup', genre: @genre %>

      <div class="mt-4 form-group">
        <%= form_with model: [:admin, @post], url: admin_post_path do |f| %>
          <!--記事編集フォーム-->
          <%= render 'form', genres: @genres, post: @post, f: f %>
          <!--記事変更保存ボタン-->
          <div class="text-center">
            <%= f.submit "変更を保存する", class: "mt-2 btn btn-success btn-lg", id: "submit-button"  %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'post' %>