<div class="container my-5">
  <div class="row">
    <div class="offset-1 col-11">

      <!--エラーメッセージ-->
      <%= render 'layouts/errors', obj: @post %>

      <h5 class="h4 ml-5 pt-4 font-weight-bold">ニュース登録</h5>

      <!--ジャンル新規登録欄（ポップアップ表示）-->
      <%= render 'admin/genres/genre_popup', genre: @genre %>

      <div class="mt-4 form-group">
        <%= form_with model: [:admin, @post], url: admin_posts_path do |f| %>
          <!--新規記事投稿フォーム-->
          <%= render 'form', genres: @genres, post: @post, f: f %>
          <!--新規記事投稿ボタン-->
          <div class="text-center">
            <%= f.submit "記事を投稿する", class: "mt-2 btn btn-primary btn-lg", id: "submit-button"  %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<!--「新しくジャンルを作成する」の選択時にポップアップを表示-->
<script>
  $(document).ready(function() {
    var genreSelect = $("#genre-select");
    var newGenreForm = $("#new-genre-form");
    var submitButton = $("#submit-button");

    genreSelect.on("change", function() {
      if (genreSelect.val() === "new") {
        slideDown(newGenreForm);
        submitButton.prop("disabled", true);
      } else {
        slideUp(newGenreForm);
        submitButton.prop("disabled", false);
      }
    });

    function slideDown(element) {
      element.slideDown(300);
      $(document).on("click", outsideClick);
    }

    function outsideClick(event) {
      if (!$(event.target).closest(newGenreForm).length) {
        slideUp(newGenreForm);
      }
    }

    function slideUp(element) {
      element.slideUp(300);
      $(document).off("click", outsideClick);
    }
  });
</script>

<!--画像ファイルが選択された際に画像のプレビューを表示-->
<script>
  $(document).ready(function() {
    var imagePreview = $("#image-preview");
    var fileInput = $("#post_image");

    imagePreview.hide();

    fileInput.on("change", function(event) {
      var file = event.target.files[0];

      if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
          imagePreview.attr("src", e.target.result).show();
        }
        reader.readAsDataURL(file);
      } else {
        imagePreview.hide();
      }
    });
  });
</script>