<div class="container my-5">
  <div class="row">
    <div class="offset-1 col-11">

      <!--エラーメッセージ-->
      <%= render 'layouts/errors', obj: @post %>

      <h5 class="h4 ml-5 pt-4 font-weight-bold">ニュース登録</h5>

      <!--ジャンル新規登録欄（ポップアップ表示）-->
      <div class="col-10 mx-auto form-group" id="new-genre-form"
           style="display: none; position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.6); padding: 30px; z-index: 99999; border-radius: 10px;">
        <table class="table table-borderless">
            <tr>
              <td>
                <%= form_with model: @genre, url: admin_genres_path, html: { class: "form-inline" } do |f| %>
                  <%= f.text_field :name, name: "genre[name]", placeholder: "新規ジャンル名（同名不可・最大6文字）", class: "col-8 form-control mr-2" %>
                  <%= f.submit "ジャンル作成", class:"col-3 btn btn-primary" %><br>
                  <p class="text-white pt-3"> ※作成をやめる場合は画面外をクリック</p>
                <% end %>
              </td>
            </tr>
        </table>
      </div>

      <div class="mt-4 form-group">
        <%= form_with model: [:admin, @post], url: admin_posts_path do |f| %>
          <!--新規記事投稿フォーム-->
          <table class="table table-borderless">
            <tr>
              <td class="align-middle font-weight-bold" style="width: 30%">ジャンル</td>
              <td>
                <%= f.select :genre_id, options_for_select([["新しくジャンルを作成する", "new"]].concat(@genres.map { |genre| [genre.name, genre.id] })),
                  { include_blank: "-- 選択してください --" }, {required: true, class: "form-control", style: "width: 75%;", id: "genre-select" } %>
              </td>
            </tr>
            <tr>
              <td class="align-middle font-weight-bold" style="width: 30%">タイトル</td>
              <td><%= f.text_field :title, placeholder: "記事タイトル", class: "form-control"%></td>
            </tr>
            <tr>
              <td class="align-middle font-weight-bold" style="width: 30%">本文</td>
              <td><%= f.text_area :body, placeholder: "記事本文", class: "form-control", style: "height: 130px;" %></td>
            </tr>
            <tr>
              <td class="align-middle font-weight-bold" style="width: 30%">見出し画像</td>
              <td>
                <%= f.file_field :image, accept: "image/png, image/jpeg" %><br>
                <!--プレビュー表示-->
                <img class="mt-2" id="image-preview" alt="プレビュー" style="max-width: 150px; border: solid thin lightgray; border-radius: 5px;">
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold" style="width: 30%">公開ステータス</td>
              <td>
                <%= f.radio_button :is_active, true, checked: true %>
                <%= label_tag :is_active_true, "有効" %>
                <%= f.radio_button :is_active, false, class: "ml-3" %>
                <%= label_tag :is_active_false, "無効" %>
              </td>
            </tr>
          </table>
          <!--新規記事投稿ボタン-->
          <div class="text-center">
            <%= f.submit "記事を投稿する", class: "mt-2 btn btn-primary btn-lg", id: "submit-button"  %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<!--「新しくジャンルを作成する」の選択時にポップアップを表示-->
<script>
  $(document).ready(function() {
    var genreSelect = $("#genre-select");
    var newGenreForm = $("#new-genre-form");
    var submitButton = $("#submit-button");

    genreSelect.on("change", function() {
      if (genreSelect.val() === "new") {
        slideDown(newGenreForm);
        submitButton.prop("disabled", true);
      } else {
        slideUp(newGenreForm);
        submitButton.prop("disabled", false);
      }
    });

    function slideDown(element) {
      element.slideDown(300);
      $(document).on("click", outsideClick);
    }

    function outsideClick(event) {
      if (!$(event.target).closest(newGenreForm).length) {
        slideUp(newGenreForm);
      }
    }

    function slideUp(element) {
      element.slideUp(300);
      $(document).off("click", outsideClick);
    }
  });
</script>

<!--画像ファイルが選択された際に画像のプレビューを表示-->
<script>
  $(document).ready(function() {
    var imagePreview = $("#image-preview");
    var fileInput = $("#post_image");

    imagePreview.hide();

    fileInput.on("change", function(event) {
      var file = event.target.files[0];

      if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
          imagePreview.attr("src", e.target.result).show();
        }
        reader.readAsDataURL(file);
      } else {
        imagePreview.hide();
      }
    });
  });
</script>