<div class="container my-5">
  <div class="row">
    <div class="offset-1 col-11">

      <!--エラーメッセージ-->
      <%= render 'layouts/errors', obj: @post %>

      <h5 class="h4 ml-5 pt-4 font-weight-bold">ニュース登録</h5>

      <!--ジャンル新規登録欄（ポップアップ表示）-->
      <%= render 'admin/genres/genre_popup', genre: @genre %>

      <div class="mt-4 form-group">
        <%= form_with model: [:admin, @post], url: admin_posts_path do |f| %>
          <!--新規記事投稿フォーム-->
          <%= render 'form', genres: @genres, post: @post, f: f %>
          <!--新規記事投稿ボタン-->
          <div class="text-center">
            <%= f.submit "記事を投稿する", class: "mt-2 btn btn-primary btn-lg", id: "submit-button"  %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'post' %>