<div class="container my-5 my-md-0">
  <div class="row">
    <div class="offset-md-1 col-md-11">
      <div class="content-box word_card" style="margin-top: 65px">

      <!--単語見出し-->
      <div class="text-center mb-4">
        <h3><%= @today_word.pinyin %></h5>
        <h1 class="font-weight-bold" style="font-size: 50px;"><%= @today_word.chinese %></h3>
      </div>

        <!--単語詳細-->
        <table class="table table-borderless">
          <tr>
            <td class="word-term h5 border text-center">意味</td>
            <td class="h5 pl-4"><%= @today_word.japanese %></td>
          </tr>
          <td><!--空行--></td>
          <tr>
            <td rowspan="2" class="word-term h5 border text-center align-middle">用法</td>
            <td class="h5 pl-4"><%= @today_word.example_chinese %></td>
          </tr>
          <tr>
            <td class="h5 pl-4"><%= @today_word.example_japanese %></td>
          </tr>
          <td><!--空行--></td>
          <tr>
            <td class="word-term h5 border text-center">同義語</td>
            <td class="h5 pl-4"><%= @today_word.synonym %></td>
          </tr>
        </table>

        <!--コラム表示欄-->
        <div class="description border mx-auto mt-5 p-3">
          <h3 class="font-weight-bold"><i class="fa-regular fa-lightbulb"></i> コラム</h2>
          <p class="p-1" style="font-size: 18px;"><%= @today_word.description %></p>
        </div>

      </div>

      <!--ページ送り-->
      <div class="row my-4 mx-auto">
        <div class="col-4 col-md-3 text-left">
          <% if @previous_word %>
            <%= link_to today_word_path(@previous_word), class: "btn btn-primary" do %>
              <i class="fa-solid fa-left-long"></i> 前の単語へ
            <% end %>
          <% end %>
        </div>
        <div class="col-4 col-md-6 text-center">
          <%= link_to "TOPへもどる", root_path, class: "btn btn-secondary" %>
        </div>
        <div class="col-4 col-md-3 text-right">
          <% if @next_word %>
            <%= link_to today_word_path(@next_word), class: "btn btn-primary" do %>
              次の単語へ <i class="fa-solid fa-right-long"></i>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>