<div class="container">
  <div class="row">
    <div class="offset-lg-1 col-lg-11">

      <!--ユーザー情報-->
      <div class="content-box", style="margin: 100px 0;">

        <div class="row pt-md-4 px-md-4">
          <div class="col-5 col-md-3 pt-2 pt-md-0" style="height: 150px; width: 150px;">
            <%= image_tag @user.get_profile_image(150, 150), class: "img-fluid rounded-circle mr-5", style: "border: 3px solid #066285;" %>
          </div>
          <div class="col-7 col-md-5 mt-4">
            <h3 class="font-weight-bold responsive-text"><%= @user.name %></h3>
            <div class="mt-3 pl-1 responsive-text">
              <i class="fas fa-fire-alt fa-lg text-danger pb-1 pb-md-0 responsive-text"></i>
              <%= @user.answer_rank_i18n %>ランク
              <span data-toggle="tooltip" data-placement="bottom" title="昇格まで残り <%= @next_rank %> 評価">
                <i class="fas fa-question-circle"></i>
              </span>
            </div>
          </div>
          <div class="col-md-4 mt-md-3">
            <% if @user == current_user %>
              <%= link_to edit_user_path(@user), class: "btn btn-primary w-100" do %>
                <i class="fa-regular fa-user"></i> プロフィール編集
              <% end %>
              <%= link_to user_bookmarks_path(@user), class: "mt-3 btn btn-outline-success w-100" do %>
                <i class="far fa-bookmark"></i> ブックマーク一覧
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="row mt-4">
          <table class="offset-1 col-8 offset-md-1 col-md-4 table table-borderless">
            <tr>
              <td class="align-middle font-weight-bold">性別：</td>
              <td><%= @user.gender_i18n %></td>
            </tr>
            <tr>
              <td class="align-middle font-weight-bold">年齢：</td>
             <td><%= @user.age_i18n %></td>
            </tr>
            <tr>
              <td class="align-middle font-weight-bold">学習歴：</td>
              <td><%= @user.study_background_i18n %></td>
            </tr>
            <tr>
              <td class="align-middle font-weight-bold">居住地：</td>
              <td><%= @user.living_area_i18n %></td>
            </tr>
          </table>
          <div class="offset-1 col-11 offset-md-1 col-md-5 mt-md-2">
            <span class="font-weight-bold">自己紹介：</span><br>
            <span><%= @user.introduction %></span>
          </div>
        </div>

        <!--投稿した/回答をつけた質問一覧-->
        <div class="row mt-5 mt-md-3 mx-1 mx-md-2">
          <div class="col-md-6">
            <span class="ml-3 font-weight-bold">投稿した質問</span><br>
            <div class="container mt-2 border border-success" style="height: 150px; overflow: auto;">
              <% @posted_questions.each do |question| %>
                <div class="mt-1", style="font-size: 13px;">
                  <%= link_to question.title, question_path(question) %><hr class="my-1">
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <span class="ml-3 font-weight-bold">回答をつけた質問</span><br>
            <div class="container mt-2 border border-success" style="height: 150px; overflow: auto;">
              <% @answered_questions.each do |question| %>
                <div class="mt-1", style="font-size: 13px;">
                  <%= link_to question.title, question_path(question) %><hr class="my-1">
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <!--回答数グラフ-->
        <div class="row mt-4 mt-md-5">
          <div class="col-md-11 mx-auto">
            <canvas id="myLineChart"></canvas>
            <script>
              $(document).on('turbolinks:load', function() {
                var ctx = document.getElementById("myLineChart");
                var myLineChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                    labels: ['6ヶ月前', '5ヶ月前', '4ヶ月前', '3ヶ月前', '2ヶ月前', '1ヶ月前', '今月'],
                    datasets: [
                      {
                        label: '投稿した質問数',
                        data: [
                          <%= @questions_count_past_month.reverse.join(",") %>
                        ],
                        borderColor: "rgba(0,128,0,1)",
                        backgroundColor: "rgba(0,0,0,0)",
                        tension: 0.4
                      },
                      {
                        label: '回答をつけた質問数',
                        data: [
                          <%= @answers_count_past_month.reverse.join(",") %>
                        ],
                        borderColor: "rgba(185,58,226,1)",
                        backgroundColor: "rgba(0,0,0,0)",
                        tension: 0.4
                      }
                    ],
                  },
                  options: {
                    responsive: true,
                    scales: {
                      y:{
                        suggestedMin: 0,
                        suggestedMax: 10
                      },
                    },
                    plugins: {
                      legend: {
                        labels: {
                          boxWidth: 12,
                          padding: 20,
                        },
                      },
                    },
                  }
                });
              });
            </script>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>