<!DOCTYPE html>
<html>
  <head>
    <title>ガッチュウ!!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0fa15b6b25.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">

        <div class="col-3 text-center" style="background-color: #FFDC44; height: 100vh;">
          <p class="border border-dark p-5 my-5" style="font-size: 50px;">LOGO</p>

          <!--未ログイン時-->
          <div class="menu h4">
            <p><%= link_to "今日の中国語", today_words_path, class: "text-dark" %></p><hr>
            <p><%= link_to "ニュース", posts_path, class: "text-dark" %></p><hr>
            <p><%= link_to "質問板", questions_path, class: "text-dark" %></p><hr>
            <p><%= link_to "ログイン", new_user_session_path, class: "text-dark" %></p><hr>
            <p><%= link_to "新規登録", new_user_registration_path, class: "text-dark" %></p><hr>
          </div>

          <div class="social h1">
            <%= link_to "https://twitter.com", class: "mx-2" do %>
              <i class="fa-brands fa-twitter" style="color: #000000;"></i>
            <% end %>
            <%= link_to "https://m.weibo.cn/", class: "mx-2" do %>
              <i class="fa-brands fa-weibo" style="color: #000000;"></i>
            <% end %>
          </div>

          <p>copyright</p>

        </div>

        <div class="col-9">
          <%= yield %>
        </div>

      </div>
    </div>
  </body>
</html>
